# Default settings file for ASEGGDF2NetCDFConverter class

# Field definition overrides for definitions read from .dfn file
# keyed by lower-case ASEG-GDF field name.
# N.B: overriding short_name will effectively rename field for subsequent use
field_definitions: 
  # 1D Variables
  doi: {short_name: depth_of_investigation, units: m}
  dataresidual: {long_name: Data residual, short_name: data_residual}
  residual2: {long_name: Data residual 2, short_name: data_residual2}
  residual3: {long_name: Data residual 3, short_name: data_residual3}
  stddev_TxHeightInverted: {long_name: Uncertainty of the inverted height
      of the TXRX frame, short_name: stddev_tx_height_inverted, units: m}
  totalresidual: {long_name: Total Residual, short_name: total_residual}
  txheightinverted: {long_name: Inverted height of the TXRX frame, short_name: tx_height_inverted,
    units: m}
  txheightmeasured: {long_name: Measured height of the TXRX frame, short_name: tx_height_measured,
    units: m}
  easting: {long_name: UTM Easting (x) ordinate, short_name: easting, units: m}
  elevation: {long_name: Ground elevation relative to sea-level, short_name: elevation,
    units: m}
  line: {long_name: Line number, short_name: line}
  flight: {long_name: Flight number, short_name: flight}
  flt: {long_name: Flight number, short_name: flight}
  nlayers: {long_name: layers, short_name: layer}
  ndatlm: {long_name: low moment gates, short_name: low_moment_gate}
  ndathm: {long_name: high moment gates, short_name: high_moment_gate}
  northing: {long_name: UTM Northing (y) ordinate, short_name: northing, units: m}
  sequence: {long_name: Inversion sequence number, short_name: sequence}
  # 2D Variables - must have dimensions attribute defined 
  # dimensions attribute must either be a single dimension name or list of part dimension names
  depth_top: {long_name: Depth to the top of the layer, short_name: layer_top_depth, units: m, dimensions: layer}
  layer_top_depth: {long_name: Depth to the top of the layer, short_name: layer_top_depth, units: m, dimensions: layer}  
  resistivity: {long_name: Layer resistivity, short_name: resistivity,
    units: ohm.m, dimensions: layer}
  conductivity: {long_name: Layer conductivity, short_name: conductivity,
    units: S/m, dimensions: layer}
  resistivity_uncertainty: {long_name: Uncertainty of the layer resistivity,
    short_name: resistivity_uncertainty, dimensions: layer}
  data_values: {long_name: Data values measured at each gate, short_name: data_values, units: V/(A.turns.m4), 
    dimensions: [low_moment_gate, high_moment_gate]}
  data_response: {long_name: Data response, short_name: data_response, dimensions: [low_moment_gate, high_moment_gate]}
  data_relative_uncertainty: {long_name: Relative uncertainty of data value, short_name: data_relative_uncertainty, 
    dimensions: [low_moment_gate, high_moment_gate]}
  thickness: {dimensions: layer}
  emsystem_1_xs: {dimensions: secondary_field_window}
  emsystem_1_zs: {dimensions: secondary_field_window}
  emx_nonhprg: {dimensions: emx_window}
  emx_hprg: {dimensions: emx_window}
  emz_nonhprg: {dimensions: emx_window}
  emz_hprg: {dimensions: emx_window} 
  cond_xz: {dimensions: layer}
  cond_xz_depth: {dimensions: layer}

# Known custom .dfn attributes to write into variable attributes with mappings to new names
# N.B: Do NOT include standard attributes like "NAME", "UNIT" or "UNITS"
variable_attributes:
  DATUM: datum_name
  PROJECTION: projection_name

# String containing comma-separated list of keywords
keywords: geophysics, airborne, AEM, conductivity 

# List of possible dimension field names definining dimension sizes. 
# Uses overridden short_name values (if set)
# Not used for output - should be defined in .dfn file instead
dimension_fields: [layer, low_moment_gate, high_moment_gate]

# List of possible index field names to indicate which fields need to be turned into value, start & count arrays
# Uses overridden short_name values (if set)
index_fields: []

# List of possible lookup field names to indicate which fields need to be turned into lookup arrays
# Uses overridden short_name values (if set)
lookup_fields: [line, flight]

# List of possible ASEG-GDF fields to be ignored (i.e. not output to netCDF) 
# Uses overridden short_name values (if set)
ignored_fields: [] # e.g. Proj_CGG, Proj_Client

# NetCDF variable name to ASEG-GDF field name mappings for ASEG-GDF output
aseg_field_mapping:
  longitude: LONGITUD
  latitude: LATITUDE
  easting: EASTING
  northing: NORTHING